Source: ros-kinetic-manipulator-h-gui
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), libqt4-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-eigen-conversions, ros-kinetic-geometry-msgs, ros-kinetic-manipulator-h-base-module-msgs, ros-kinetic-qt-build, ros-kinetic-robotis-controller-msgs, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/ROBOTIS-MANIPULATOR-H
Standards-Version: 3.9.2

Package: ros-kinetic-manipulator-h-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev, ros-kinetic-cmake-modules, ros-kinetic-eigen-conversions, ros-kinetic-geometry-msgs, ros-kinetic-qt-build, ros-kinetic-roscpp
Description: The manipulator_h_gui package This package provides simple GUI to control ROBOTIS MANIPULATOR-H.
 This GUI is connected to manipulator_h_base_module.
