Source: ros-kinetic-manipulator-h-bringup
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/manipulator_h_bringup
Standards-Version: 3.9.2

Package: ros-kinetic-manipulator-h-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-joint-state-publisher, ros-kinetic-robot-state-publisher, ros-kinetic-rviz
Description: The manipulator_h_bringup package This package includes launch file to describe robotis in Rviz.
