Source: ros-kinetic-manipulator-h-description
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/ROBOTIS-MANIPULATOR-H
Standards-Version: 3.9.2

Package: ros-kinetic-manipulator-h-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The manipulator_h_description package This package includes URDF model of ROBOTIS MANIPULATOR-H.
 Additionally, we provide full kinematics and dynamics information of each link.
